@use 'sass:color';
@use '../styles-shared' as *;

:host {
  display: grid;
  grid-template-columns: 1 / -1;
  grid-template-rows: max-content max-content 1fr 75px;
  height: 100vh;
  & > * {
    display: flex;
    justify-content: center;
  }
  header {
    @include dotted-pattern($bg-normal, #555, 1px, 20px);
    h1 {
      margin: 20px;
      font-weight: 500;
      cursor: default;
    }
  }
  nav {
    @include dotted-pattern($bg-dark, $bg-brighter, 1px, 12px);
  }
  main {
    background: 
      radial-gradient(
        color.adjust($primary, $lightness: -28%),
        color.adjust($primary, $lightness: -28.5%) 20%,
        $bg-base 50%
      );
    overflow-y: scroll;
  }
  footer {
    @include dotted-pattern($bg-normal, #555, 1px, 20px);
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    .row {
      display: flex;
      gap: 15px;
      a {
        color: $primary;
        text-decoration: none;
        transition: .2s;
        @include hover {
          color: $text-primary;
        }
      }
    }
  }
  .touch-screen-note {
    display: none;
  }
}

@media (max-width: 999px), (pointer: coarse), (hover: none) {
  :host:not(.allow-touch-screen) > * {
    display: none;
    &.touch-screen-note {
      @include overlay;
      @include dotted-pattern($bg-dark, $bg-brighter, 1px, 20px);
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        width: 100%;
        margin: 10px 0;
        padding: 0 30px;
        text-align: center;
        font-size: 15px;
        a {
          color: $text-primary;
          text-decoration: none;
        }
      }
      button {
        width: 100px;
        margin: 15px auto;
        padding: 8px 0;
        border: none;
        border-radius: 5px;
        background-color: $bg-brighter;
        color: $text-primary;
        cursor: pointer;
      }
    }
  }
}
