<header>
  <h1>Drag-and-Drop Demo</h1>
</header>

<nav app-menu></nav>

<main>
  <router-outlet />
</main>

<footer>
  <div>Made with Angular</div>
  <div class="row">
    <a href="https://github.com/Offline2099/drag-and-drop" target="_blank">View repository</a>
    <span>|</span>
    <a href="https://offline2099.github.io/" target="_blank">Other cool stuff</a>
  </div>
</footer>

<div class="touch-screen-note">
  <p>
    This demo uses the native
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API" target="_blank">Drag and Drop API</a>
    for desktop browsers.
  </p>
  <p>It is not designed to work on touch screen devices or small displays.</p>
  <p>You can still try it on a phone or a tablet, but it is not guaranteed to work properly in such environments.</p>
  <button type="button" (click)="allowTouchScreen()">OK</button>
</div>
